* {
	font-family: 'Roboto Mono', sans-serif;
	
}

body {
	background-color:  #F5F5DC;
}

nav {
	display: block;
	padding: 0px 100px;
	background-color: #d6732d;
	
	height: 10vh;
}

nav ul {
	display: flex;
	/* width: 500px; */
	flex-direction: row;
	height: 100%;
	justify-content: center;
}

.links{
	margin: 0px 2px;
	color: #000;
	font-size: 20px;
	line-height: 22px;
}

.links a:hover {
	background-color: #8B4513;
}

.links a {
	display: flex;
	/* This turns the anchor into a flex container */
	align-items: center;
	/* This centers the content vertically */
	justify-content: center;
	/* This centers the content horizontally */
	font-weight: 600;
	color: #F5F5DC;
	height: 100%;
	width: 300px;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	transition: .5s;
}

#map {
	margin: 0px auto;
	width: 1000px;
	height: 500px;
	background-color: #8B4513;
	padding-top: 100px;
}

#earthquakeForm {
	margin-top: 50px;
}

form {
	font-size: 18px;
}

form input, form button{
	display: block;
	margin: 0px auto;
}

.for label {
	display: block;
	margin: 0px auto;
	text-align: center;
}

.for {
	margin-top: 60px;
	text-align: center;
}

.for input {
	display: block;
	margin-top: 10px;
	width: 350px;
	height: 40px;
	font-size: 21px;
	border: 2px solid #773e15;
	text-align: center;
}

.for input:focus {
	border-color: #532d12;
}

form button {
	width: 150px;
	height: 50px;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 7px;
	background-color: #d6732d;
	box-shadow: 0px 6px #291709;
	transition: 0.2s
}

form button:active {
	margin-top: 6px;
	margin-bottom: 6px;
	box-shadow: 0px 0px #291709;
}

#map {
	margin-top: 70px;
}

.zd {
	height: 57px;
	margin-top: 50px;
	border: 1px solid #F5F5DC;
}

footer {
	display: block;
	height: 70px;
	margin-top: 100px;
	background-color: #d6732d;
	position: relative;
}

.end {
	display: block;
	text-align: right;
	font-size: 18px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

form {
	display: none;
}
.cont{
     padding-top: 20px;
     margin: 0 auto;
     display: none;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 60%;
     text-align: center;
     margin-top: 50px;
}
.zd1,.zd2,.zd3{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 160px;
}
.cont h1{
     font-size: 30px;
}
.cont p{
     font-size: 15px;
     margin-top: 15px;
}
.cont h3{
     margin-top: 50px;
     font-size: 25px;
     margin-bottom: 15px;
}
.questionBtn{
     width: 80%;
     height: 60px;
     margin-top: 35px;
     font-size: 20px;
     border: 3px solid #773e15;
}